/*Valores de NavBar*/
/*Valores footer*/
/*Valores de project*/
/* line 3, ../../scss/utilities/_base.scss */
.body-aboutme .side-arrow-left:hover, .body-aboutme .side-arrow-right:hover, .body-aboutme .sidenav-item:hover, .body-aboutme .sidenav-item.select {
  background-color: #f2f2f2;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFF2F2F2', endColorstr='#FFE0E0E0');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjZjBmMGYwIi8+PHN0b3Agb2Zmc2V0PSIyNyUiIHN0b3AtY29sb3I9IiNlYmViZWIiLz48c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #f2f2f2), color-stop(12%, #f0f0f0), color-stop(27%, #ebebeb), color-stop(73%, #e6e6e6), color-stop(100%, #e0e0e0));
  background-image: -moz-linear-gradient(left bottom, #f2f2f2 0%, #f0f0f0 12%, #ebebeb 27%, #e6e6e6 73%, #e0e0e0 100%);
  background-image: -webkit-linear-gradient(left bottom, #f2f2f2 0%, #f0f0f0 12%, #ebebeb 27%, #e6e6e6 73%, #e0e0e0 100%);
  background-image: linear-gradient(to right top, #f2f2f2 0%, #f0f0f0 12%, #ebebeb 27%, #e6e6e6 73%, #e0e0e0 100%); }

/* line 14, ../../scss/utilities/_base.scss */
.body-aboutme .sidenav, .body-aboutme .box-content-item {
  background-color: #fcfcfc;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFCFCFC', endColorstr='#FFFAFAFA');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIvPjxzdG9wIG9mZnNldD0iNTIlIiBzdG9wLWNvbG9yPSIjZmNmY2ZjIi8+PHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmYWZhZmEiLz48c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIvPjxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmNmY2ZjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #fcfcfc), color-stop(52%, #fcfcfc), color-stop(85%, #fafafa), color-stop(97%, #fcfcfc), color-stop(99%, #fcfcfc));
  background-image: -moz-linear-gradient(left bottom, #fcfcfc 0%, #fcfcfc 52%, #fafafa 85%, #fcfcfc 97%, #fcfcfc 99%);
  background-image: -webkit-linear-gradient(left bottom, #fcfcfc 0%, #fcfcfc 52%, #fafafa 85%, #fcfcfc 97%, #fcfcfc 99%);
  background-image: linear-gradient(to right top, #fcfcfc 0%, #fcfcfc 52%, #fafafa 85%, #fcfcfc 97%, #fcfcfc 99%); }

/* line 36, ../../scss/utilities/_base.scss */
.row {
  margin: 0px; }

/* line 9, ../../scss/aboutme/main.scss */
.body-aboutme .side-arrow-left, .body-aboutme .side-arrow-right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  cursor: pointer;
  opacity: 0.8;
  z-index: 10; }
  /* line 24, ../../scss/aboutme/main.scss */
  .body-aboutme .side-arrow-left img, .body-aboutme .side-arrow-right img {
    height: 3vw;
    width: 3vw; }

/* line 32, ../../scss/aboutme/main.scss */
.body-aboutme {
  height: fit-content;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center; }
  /* line 39, ../../scss/aboutme/main.scss */
  .body-aboutme .box-aboutme {
    display: flex;
    height: fit-content;
    margin: 8vw 0px;
    width: 90vw;
    -webkit-box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.3); }
  /* line 47, ../../scss/aboutme/main.scss */
  .body-aboutme .sidenav {
    width: 6vw;
    -webkit-box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.3); }
  /* line 55, ../../scss/aboutme/main.scss */
  .body-aboutme .adjust {
    z-index: 20; }
  /* line 59, ../../scss/aboutme/main.scss */
  .body-aboutme .sidenav-item {
    padding: 15px 0px;
    text-align: center;
    cursor: pointer;
    overflow: hidden; }
    /* line 69, ../../scss/aboutme/main.scss */
    .body-aboutme .sidenav-item:hover .text {
      display: block; }
    /* line 73, ../../scss/aboutme/main.scss */
    .body-aboutme .sidenav-item:hover img {
      width: 50%; }
    /* line 78, ../../scss/aboutme/main.scss */
    .body-aboutme .sidenav-item img {
      width: 40%;
      opacity: 0.75; }
    /* line 82, ../../scss/aboutme/main.scss */
    .body-aboutme .sidenav-item .text {
      display: none;
      font-size: 0.6em;
      font-weight: 600;
      opacity: 0.8; }
  /* line 94, ../../scss/aboutme/main.scss */
  .body-aboutme .sidenav-item.select .text {
    display: block; }
  /* line 97, ../../scss/aboutme/main.scss */
  .body-aboutme .sidenav-item.select img {
    width: 50%; }
  /* line 102, ../../scss/aboutme/main.scss */
  .body-aboutme .content {
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden; }
  /* line 109, ../../scss/aboutme/main.scss */
  .body-aboutme .side-arrow-left {
    -webkit-box-shadow: 3px 0px 5px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 0px 5px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 0px 5px -3px rgba(0, 0, 0, 0.3); }
  /* line 113, ../../scss/aboutme/main.scss */
  .body-aboutme .side-arrow-right {
    -webkit-box-shadow: -3px 0px 5px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -3px 0px 5px -3px rgba(0, 0, 0, 0.3);
    box-shadow: -3px 0px 5px -3px rgba(0, 0, 0, 0.3); }
  /* line 118, ../../scss/aboutme/main.scss */
  .body-aboutme .box-content {
    width: 90%;
    display: flex;
    overflow: hidden;
    align-items: flex-start; }
  /* line 125, ../../scss/aboutme/main.scss */
  .body-aboutme .box-content-item {
    min-height: 50vh;
    z-index: 5;
    width: 100%;
    flex: none;
    position: relative; }
    /* line 133, ../../scss/aboutme/main.scss */
    .body-aboutme .box-content-item .img {
      width: 100%;
      height: 30vh; }
    /* line 138, ../../scss/aboutme/main.scss */
    .body-aboutme .box-content-item .text {
      padding: 30px; }
    /* line 142, ../../scss/aboutme/main.scss */
    .body-aboutme .box-content-item p {
      text-align: justify;
      margin-top: 10px;
      margin-left: 10px; }
    /* line 147, ../../scss/aboutme/main.scss */
    .body-aboutme .box-content-item h4 {
      font-weight: 700; }
  /* line 152, ../../scss/aboutme/main.scss */
  .body-aboutme .move-box {
    animation: move-up 1s; }
@keyframes move-up {
  from {
    transform: translateY(0%); }
  50% {
    transform: translateY(-100%); }
  to {
    transform: translateY(0%); } }
  /* line 168, ../../scss/aboutme/main.scss */
  .body-aboutme .reduce-expand {
    animation: reduce-item 1s; }
@keyframes reduce-item {
  from {
    height: 100%; }
  to {
    transform: 0%; } }
  @media (max-width: 767.98px) {
    /* line 182, ../../scss/aboutme/main.scss */
    .body-aboutme .box-aboutme {
      display: flex;
      flex-direction: column; }
    /* line 187, ../../scss/aboutme/main.scss */
    .body-aboutme .sidenav {
      width: 100%;
      -webkit-box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, 0.3); }
    /* line 192, ../../scss/aboutme/main.scss */
    .body-aboutme .sidenav-item {
      padding: 10px 0px;
      display: flex;
      align-items: center; }
      /* line 196, ../../scss/aboutme/main.scss */
      .body-aboutme .sidenav-item img {
        width: 10%;
        margin: 0px 20px; }
      /* line 200, ../../scss/aboutme/main.scss */
      .body-aboutme .sidenav-item .text {
        display: block; }
    /* line 206, ../../scss/aboutme/main.scss */
    .body-aboutme .sidenav-item.select img {
      width: 10%; }
    /* line 211, ../../scss/aboutme/main.scss */
    .body-aboutme .side-arrow-left {
      height: auto;
      width: 10%; }
    /* line 215, ../../scss/aboutme/main.scss */
    .body-aboutme .side-arrow-right {
      height: auto;
      width: 10%; } }
